<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        body {
            color: #fff;
        }
        
        .s {
            color: red
        }
    </style>
</head>

<body>
    <p>test/fixtures/layout_api/some.md</p>
    <p>tmp/layout/some.html</p>
    <p>test/fixtures/layout_api/some.md</p>
    <p>hello world!</p>
    <p>&lt;!----&gt;
    </p>
    <p>&lt;!-- title: Object.prototype date: 2015-11-21--&gt;
    </p>
    <h1 id="some">some</h1>
    <p>I am in layout_api some.md</p>


    <script>
        var a = 1;
        var b = 3;
        console.log(a, b);
    </script>
</body>

</html>
<!-- build in 2015-12-27 23:00:27-->